.DS_Store
.env
.ipynb_checkpoints
.pytest_cache
.vscode
__pycache__

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
placeholder.py
lexicon_tracker.txt
project/app/smart_upper_function.py
project/app/api/predict.py
project/app/smart_upper.py
project/app/api/pred.py
