[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
pandas = "*"
requests = "*"
ipykernel = "*"
psycopg2-binary = "*"
scikit-learn = "*"
wwo-hist = "*"
python-dotenv = "*"
awscli = "*"
pipx = "*"
awsebcli = "*"
fastapi = "*"

[requires]
python_version = "3.8"
